In [8]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [9]:
directors_full = pd.read_pickle('../data/pickles/director_writer_nodrop.p')
movies = pickle.load(open('../data/pickles/movies.p', 'rb'))
characters = pickle.load(open('../data/pickles/characters.p', 'rb'))
characters_movies = pd.merge(characters[['movie_wiki_id', 'actor_name', 'combined_birth', 'combined_gender']], movies[['wikipedia_id', 'title', 'combined_release_year', 'combined_runtime', 'combined_box_office', 'averageRating_imdb', 'numVotes_imdb']], left_on='movie_wiki_id', right_on='wikipedia_id', how='left')

In [10]:
df = movies[['title', 'averageRating_imdb', 'numVotes_imdb', 'combined_box_office']].copy()

df['numVotes_imdb'] = np.log(df.numVotes_imdb)
df['combined_box_office'] = np.log(df.combined_box_office)

df['numVotes_imdb'] =(df.numVotes_imdb - df.numVotes_imdb.mean()) / df.numVotes_imdb.std()
df['combined_box_office'] =(df.combined_box_office - df.combined_box_office.mean()) / df.combined_box_office.std()
df['averageRating_imdb'] =(df.averageRating_imdb - df.averageRating_imdb.mean()) / df.averageRating_imdb.std()

In [11]:
df['metric'] = df.numVotes_imdb * np.abs(df.averageRating_imdb)

In [12]:
temp = pd.merge(characters_movies[["actor_name","combined_gender","combined_birth","combined_release_year","title"]].dropna().drop_duplicates(), df[["metric","title"]].drop_duplicates(subset=["title"]), left_on="title", right_on="title", validate="many_to_one")
temp["age"] = temp["combined_release_year"]-temp["combined_birth"]
temp.head()

,actor_name,combined_gender,combined_birth,combined_release_year,title,metric,age
0,Wanda De Jesus,female,1958.0,2001.0,Ghosts of Mars,2.360202,43.0
1,Natasha Henstridge,female,1974.0,2001.0,Ghosts of Mars,2.360202,27.0
2,Ice Cube,male,1969.0,2001.0,Ghosts of Mars,2.360202,32.0
3,Jason Statham,male,1967.0,2001.0,Ghosts of Mars,2.360202,34.0
4,Clea DuVall,female,1977.0,2001.0,Ghosts of Mars,2.360202,24.0

Average metric for all actors:

In [13]:
temp.groupby("actor_name").mean("metric").sort_values(by = "metric", ascending = False).dropna().head(20)["metric"]

actor_name
Morgana King                9.158800
Victor Rendina              9.158800
Tom Rosqui                  8.649312
Alexandra Astin             8.532330
Paul Norell                 8.532330
Nick Steele                 8.474059
Susan Griffiths             8.329917
Chandler Lindauer           8.329917
Michael Gilden              8.329917
Brenda Hillhouse            8.329917
Stephen Hibbert             8.329917
Sarah McLeod                8.229758
Roman Coppola               8.139823
Richard Matheson            8.139823
Sala Baker                  8.090836
Michael Conner Humphreys    8.027604
Mark Ferguson               7.927186
Peter McKenzie              7.927186
Olivia Tennet               7.812993
Lauren Katherine Conrad     7.712191
Name: metric, dtype: float64

find the percentage of male actor in each movie \\
take the date of each movie \\
take the gender of the director \\

In [14]:
pd.DataFrame(characters_movies.groupby("title")["combined_gender"].value_counts(normalize=True)).rename(columns={"combined_gender":"percent"})

                                      percent
title               combined_gender
#1 Cheerleader Camp female           0.666667
                    male             0.333333
$                   male             0.750000
                    female           0.250000
$9.99               male             0.888889
...                                       ...
…All the Marbles    female           0.600000
                    male             0.400000
₤500 Reward         female           1.000000
春田花花同學會             male             0.800000
                    female           0.200000

[103311 rows x 1 columns]

### Find film female actor percentage

In [15]:
new = pd.DataFrame(characters_movies.groupby("title")["combined_gender"].value_counts(normalize=True)).rename(columns={"combined_gender":"percent"})
new = new.reset_index()
newF = new.loc[new["combined_gender"] == "female"].drop(columns=["combined_gender"]).rename(columns={"percent":"f_actor_percentage"})
newM = new.loc[new["combined_gender"] == "male"].drop(columns=["combined_gender"]).rename(columns={"percent":"m_actor_percentage"})
actor_gender_percentage = pd.merge(newF, newM, left_on="title", right_on="title")
actor_gender_percentage

                          title  f_actor_percentage  m_actor_percentage
0           #1 Cheerleader Camp            0.666667            0.333333
1                             $            0.250000            0.750000
2                         $9.99            0.111111            0.888889
3                           '77            0.200000            0.800000
4      'Neath the Arizona Skies            0.428571            0.571429
...                         ...                 ...                 ...
44131                       Ōte            0.500000            0.500000
44132                    Želary            0.375000            0.625000
44133          Život sa stricem            0.333333            0.666667
44134          …All the Marbles            0.600000            0.400000
44135                   春田花花同學會            0.200000            0.800000

[44136 rows x 3 columns]

### Find actor mean age per film

In [16]:
age = temp.groupby(["title","combined_gender"]).agg("mean")
age = age.drop(columns=["combined_birth","combined_release_year","metric"])
age = age.reset_index()
ageF = age.loc[age["combined_gender"] == "female"].drop(columns=["combined_gender"]).rename(columns={"age":"f_actor_mean_age"})
ageM = age.loc[age["combined_gender"] == "male"].drop(columns=["combined_gender"]).rename(columns={"age":"m_actor_mean_age"})
actor_mean_age = pd.merge(ageF, ageM, left_on="title", right_on="title")
actor_mean_age

C:\Users\eliot\AppData\Local\Temp\ipykernel_15760\4163983213.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  age = temp.groupby(["title","combined_gender"]).agg("mean")

                          title  f_actor_mean_age  m_actor_mean_age
0           #1 Cheerleader Camp         43.500000         31.000000
1                             $         32.500000         44.666667
2                         $9.99         36.000000         38.750000
3                           '77         54.000000         40.250000
4      'Neath the Arizona Skies          5.333333         37.000000
...                         ...               ...               ...
41590                       Ōte         28.000000         28.000000
41591                    Želary         50.000000         47.200000
41592          Život sa stricem         26.500000         37.750000
41593          …All the Marbles         29.333333         47.500000
41594                   春田花花同學會         41.000000         29.500000

[41595 rows x 3 columns]

In [17]:
gender_stats = pd.merge(actor_gender_percentage, actor_mean_age, left_on="title", right_on="title")
gender_stats = pd.merge(df[["title","metric"]], gender_stats, left_on="title", right_on="title", how="inner")

In [20]:
gender_stats.to_pickle("./gender_stats.pkl")

### Linear Regression of metric based on f_actor_percentage, f_actor_mean_age, m_actor_mean_age

In [255]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [256]:
# Declares the model
mod = smf.ols(formula='metric ~ f_actor_percentage + f_actor_mean_age + m_actor_mean_age', data=gender_stats)
# Fits the model (find the optimal coefficients, adding a random seed ensures consistency)
np.random.seed(2)
res = mod.fit()
# Print thes summary output provided by the library.
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 metric   R-squared:                       0.016
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     239.6
Date:                Thu, 08 Dec 2022   Prob (F-statistic):          3.14e-154
Time:                        14:47:44   Log-Likelihood:                -61262.
No. Observations:               43359   AIC:                         1.225e+05
Df Residuals:                   43355   BIC:                         1.226e+05
Df Model:                           3
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.1976      0.029      6.915      0.000       0.142       0.254
f_actor_percentage    -0.6612      0.031    -21.173      0.000      -0.722      -0.600
f_actor_mean_age       0.0092      0.001     17.195      0.000       0.008       0.010
m_actor_mean_age      -0.0013      0.001     -2.106      0.035      -0.002   -8.76e-05
==============================================================================
Omnibus:                    12537.462   Durbin-Watson:                   1.993
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           121377.055
Skew:                           1.112   Prob(JB):                         0.00
Kurtosis:                      10.889   Cond. No.                         409.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [4]:
W_apperance = pickle.load(open('../data/pickles/women_appearance.p', 'rb'))

In [7]:
W_apperance

[['tt0228333', 1],
 ['tt0245916', 1],
 ['tt0094806', 2],
 ['tt0094320', 2],
 ['tt0083949', 1],
 ['tt0002894', 7],
 ['tt0120166', 2],
 ['tt0029852', 2],
 ['tt0200545', 1],
 ['tt0053719', 3],
 ['tt0021335', 1],
 ['tt0072157', 1],
 ['tt0119548', 2],
 ['tt0097499', 26],
 ['tt0278891', 1],
 ['tt0033888', 1],
 ['tt0088646', 2],
 ['tt0058331', 1],
 ['tt0061637', 2],
 ['tt0104601', 2],
 ['tt0020823', 1],
 ['tt0133122', 3],
 ['tt0892904', 3],
 ['tt0055997', 2],
 ['tt0022289', 6],
 ['tt0026167', nan],
 ['tt0053820', 2],
 ['tt0079552', 2],
 ['tt0255819', 4],
 ['tt0367546', 1],
 ['tt0255668', 2],
 ['tt0051577', 1],
 ['tt0088157', 1],
 ['tt0366182', 2],
 ['tt0033150', 1],
 ['tt1849787', 2],
 ['tt0178022', 2],
 ['tt0178356', 4],
 ['tt0099054', 2],
 ['tt0079899', 12],
 ['tt0021728', 2],
 ['tt0482499', 6],
 ['tt0153301', 6],
 ['tt0166158', 2],
 ['tt0004604', nan],
 ['tt0080801', 2],
 ['tt0008150', 1],
 ['tt0009082', 2],
 ['tt0405393', 4],
 ['tt0097670', 5],
 ['tt0255267', 2],
 ['tt0843287', 7],
 ['tt0128332', 3],
 ['tt0116480', 2],
 ['tt0304329', 4],
 ['tt0402230', 1],
 ['tt0097790', 2],
 ['tt0161362', nan],
 ['tt0055981', 1],
 ['tt0106541', 1],
 ['tt0031516', 2],
 ['tt0091513', 1],
 ['tt0173225', 'no-cast'],
 ['tt0479879', nan],
 ['tt0432762', nan],
 ['tt0087489', 7],
 ['tt1152403', 1],
 ['tt0378118', 3],
 ['tt0018713', 1],
 ['tt0074653', 5],
 ['tt0053410', 2],
 ['tt0073705', 3],
 ['tt0163238', 1],
 ['tt0320792', 1],
 ['tt1065099', 3],
 ['tt0074681', 1],
 ['tt0100742', 2],
 ['tt0255637', 1],
 ['tt0904126', 1],
 ['tt0013951', 2],
 ['tt0431408', 1],
 ['tt0426863', 1],
 ['tt0050646', 1],
 ['tt0323365', 12],
 ['tt0256351', 2],
 ['tt0043482', 2],
 ['tt0063787', 1],
 ['tt0011629', 1],
 ['tt0065361', 1],
 ['tt0465517', 1],
 ['tt0445847', 20],
 ['tt0488380', 1],
 ['tt0062755', 8],
 ['tt0234326', 7],
 ['tt0116056', 16],
 ['tt0347167', 3],
 ['tt0037657', 1],
 ['tt1263736', 1],
 ['tt0005897', 1],
 ['tt0362718', 1],
 ['tt1479388', 1],
 ['tt0072430', 1],
 ['tt1691424', 3],
 ['tt0475994', 2],
 ['tt0214042', 2],
 ['tt0090836', 2],
 ['tt0049143', 4],
 ['tt0184076', 6],
 ['tt1792799', 3],
 ['tt0039313', 2],
 ['tt0056105', 2],
 ['tt0443587', 5],
 ['tt0479697', nan],
 ['tt1829750', 2],
 ['tt0450258', 8],
 ['tt0078718', 6],
 ['tt0486219', 1],
 ['tt1516552', 2],
 ['tt0447117', 2],
 ['tt0063642', 1],
 ['tt1489877', 1],
 ['tt0191280', 2],
 ['tt0279255', 2],
 ['tt0020253', 2],
 ['tt0079239', 2],
 ['tt0046757', 3],
 ['tt1895526', 11],
 ['tt0352230', 1],
 ['tt0090366', 1],
 ['tt0175877', 6],
 ['tt0058239', 1],
 ['tt0049009', 2],
 ['tt0305952', 6],
 ['tt0114660', 9],
 ['tt0282003', 13],
 ['tt0077369', 5],
 ['tt0907842', 1],
 ['tt0063563', 2],
 ['tt1411029', 5],
 ['tt0094592', 2],
 ['tt0092033', 1],
 ['tt0434231', 2],
 ['tt0027691', 2],
 ['tt0025196', 2],
 ['tt0087015', 4],
 ['tt1391122', nan],
 ['tt14338824', 2],
 ['tt0125113', 3],
 ['tt0063849', 3],
 ['tt0048130', 1],
 ['tt0006672', 1],
 ['tt0297034', 'no-cast'],
 ['tt0012980', 2],
 ['tt0249654', 2],
 ['tt0162714', nan],
 ['tt0155561', 3],
 ['tt0118843', 3],
 ['tt0189470', 5],
 ['tt0030424', 2],
 ['tt0017369', 3],
 ['tt0758757', 2],
 ['tt0102564', 2],
 ['tt0062798', 16],
 ['tt0045817', 1],
 ['tt0041762', 1],
 ['tt0028455', 1],
 ['tt0469263', 2],
 ['tt0067800', 2],
 ['tt0060075', 3],
 ['tt0058946', 4],
 ['tt0032725', 10],
 ['tt0315394', 5],
 ['tt0084894', 7],
 ['tt0101627', 2],
 ['tt1506339', 1],
 ['tt0368645', 3],
 ['tt0835485', nan],
 ['tt0065556', 2],
 ['tt0470398', 2],
 ['tt0354104', 1],
 ['tt0343449', 2],
 ['tt1280011', 2],
 ['tt0011761', 2],
 ['tt0249131', 2],
 ['tt0152714', 3],
 ['tt0092969', 4],
 ['tt0374546', 2],
 ['tt0096775', 6],
 ['tt2032545', 1],
 ['tt0029924', 1],
 ['tt0077631', 2],
 ['tt1452628', 10],
 ['tt0112654', 4],
 ['tt0066922', 4],
 ['tt0042579', 3],
 ['tt0062108', 3],
 ['tt0203986', 2],
 ['tt0025198', 1],
 ['tt0259242', 3],
 ['tt0025605', 2],
 ['tt0469828', 3],
 ['tt0019457', 1],
 ['tt0043460', 1],
 ['tt0017632', 1],
 ['tt0033117', 1],
 ['tt0088461', 1],
 ['tt0012513', 2],
 ['tt0038262', 2],
 ['tt0319365', 4],
 ['tt0126004', 1],
 ['tt0416508', 1],
 ['tt0113283', 2],
 ['tt0120381', 1],
 ['tt0937391', 3],
 ['tt0106664', 2],
 ['tt2373668', nan],
 ['tt0112272', 1],
 ['tt1692889', 10],
 ['tt0023479', 1],
 ['tt0328832', 2],
 ['tt0047828', 2],
 ['tt0077928', 2],
 ['tt0058786', 5],
 ['tt0036505', 2],
 ['tt1697920', 1],
 ['tt0107978', 4],
 ['tt0263362', 4],
 ['tt0064135', 3],
 ['tt0392023', 6],
 ['tt2378334', nan],
 ['tt0087696', 10],
 ['tt0040744', 2],
 ['tt0004008', nan],
 ['tt0283844', 2],
 ['tt1578818', 11],
 ['tt0070374', 1],
 ['tt0065825', 2],
 ['tt0865556', 1],
 ['tt0427342', 2],
 ['tt0019466', 2],
 ['tt0099191', 'no-cast'],
 ['tt1031215', 1],
 ['tt0079094', 6],
 ['tt1132135', 3],
 ['tt1753866', 3],
 ['tt0842823', 2],
 ['tt0024199', 1],
 ['tt0078346', 8],
 ['tt0252489', 3],
 ['tt0461472', 5],
 ['tt0161292', 1],
 ['tt0144023', 8],
 ['tt0098324', 1],
 ['tt0268295', 2],
 ['tt0002920', 1],
 ['tt0368609', 'no-cast'],
 ['tt0057261', nan],
 ['tt6793656', 1],
 ['tt0064359', 1],
 ['tt0396664', 11],
 ['tt0081764', 3],
 ['tt0004472', 1],
 ['tt0028176', 5],
 ['tt0145774', 3],
 ['tt0218937', 2],
 ['tt0219224', 2],
 ['tt0120373', 3],
 ['tt0101283', 2],
 ['tt0152930', 3],
 ['tt0030289', 2],
 ['tt0024254', 3],
 ['tt0053167', 2],
 ['tt0396271', 1],
 ['tt0061687', nan],
 ['tt0102517', 14],
 ['tt0380349', 3],
 ['tt0082708', 2],
 ['tt0035361', 1],
 ['tt0066071', 1],
 ['tt0085327', 4],
 ['tt0443436', 1],
 ['tt0026711', 2],
 ['tt0408236', 2],
 ['tt0271748', 5],
 ['tt2201446', nan],
 ['tt3588012', nan],
 ['tt0043661', 3],
 ['tt0181053', 2],
 ['tt0103939', 2],
 ['tt0119807', 5],
 ['tt1202517', 4],
 ['tt0053651', 2],
 ['tt0078119', 8],
 ['tt0087298', 2],
 ['tt0023512', 2],
 ['tt0198683', 1],
 ['tt0029994', 2],
 ['tt1400528', nan],
 ['tt0066092', 2],
 ['tt0111592', 1],
 ['tt0448424', 3],
 ['tt0142393', 3],
 ['tt0053025', nan],
 ['tt0101412', 2],
 ['tt0039410', 3],
 ['tt0082017', 1],
 ['tt0067236', 2],
 ['tt0119496', 2],
 ['tt0313445', 2],
 ['tt0075825', 2],
 ['tt0037181', nan],
 ['tt0150259', 2],
 ['tt0098830', 6],
 ['tt0017850', 1],
 ['tt0039285', 2],
 ['tt1496884', 1],
 ['tt0093194', 2],
 ['tt0221344', 3],
 ['tt0968993', 9],
 ['tt0022293', 3],
 ['tt0118932', 1],
 ['tt0235963', 3],
 ['tt0058772', 1],
 ['tt0014459', 1],
 ['tt0084395', 4],
 ['tt0132539', 1],
 ['tt0014145', 2],
 ['tt0120804', 3],
 ['tt0045229', 4],
 ['tt0114129', 6],
 ['tt0108056', 1],
 ['nm0882190', 'no-cast'],
 ['tt0155502', 3],
 ['tt1664723', 1],
 ['tt0246007', 3],
 ['tt0095542', 1],
 ['tt0039437', 1],
 ['tt0110638', 1],
 ['tt0004942', 4],
 ['tt0025343', 1],
 ['tt0261167', nan],
 ['tt0044916', 2],
 ['tt0072260', 4],
 ['tt0091922', 4],
 ['tt0113759', 2],
 ['tt8942852', 1],
 ['tt0094008', 2],
 ['tt0005679', 1],
 ['tt0059466', 4],
 ['tt0466839', 1],
 ['tt0062177', 4],
 ['tt0202932', 1],
 ['tt0059250', 4],
 ['tt1305869', 3],
 ['tt0141532', 2],
 ['tt0336910', 8],
 ['tt0317307', 4],
 ['tt0069690', 2],
 ['tt0284757', 6],
 ['tt0050229', 2],
 ['tt1263704', 4],
 ['tt0027951', 2],
 ['tt0039647', 2],
 ['tt0013629', 4],
 ['tt0174476', 23],
 ['tt0058888', 4],
 ['tt1918969', nan],
 ['tt0011891', 1],
 ['tt0117622', 3],
 ['tt1786668', 13],
 ['tt0196632', 5],
 ['tt0056291', 2],
 ['tt0034888', 1],
 ['tt0056040', 2],
 ['tt0369204', 4],
 ['tt0007972', 7],
 ['tt1477171', 1],
 ['tt1003034', 5],
 ['tt0041379', 1],
 ['tt1873602', 2],
 ['tt1698537', 4],
 ['tt0175467', 4],
 ['tt0027037', 1],
 ['tt0138464', 5],
 ['tt1157620', 9],
 ['tt0315389', 2],
 ['tt0000363', 'no-cast'],
 ['tt0933033', 2],
 ['tt0237376', 13],
 ['tt0035766', 2],
 ['tt0428579', 1],
 ['tt0312883', 4],
 ['tt0046799', 1],
 ['tt0430063', 3],
 ['tt1371712', 'no-cast'],
 ['tt0287152', 2],
 ['tt0141148', 11],
 ['tt1571728', 4],
 ['tt0189630', 1],
 ['tt0028809', 1],
 ['tt0023899', 2],
 ['tt0283037', 1],
 ['tt0107214', 3],
 ['tt0370279', 2],
 ['tt0062287', 2],
 ['tt1833673', 3],
 ['tt0116442', 2],
 ['tt0068732', 1],
 ['tt0071332', nan],
 ['tt0004674', 1],
 ['tt0161583', nan],
 ['tt0021917', 2],
 ['tt0098286', 5],
 ['tt0206501', 3],
 ['tt0058155', 4],
 ['tt0064840', 1],
 ['tt0111199', 2],
 ['tt0201602', 4],
 ['tt0052706', 1],
 ['tt0466899', 5],
 ['tt0280696', 2],
 ['tt1282135', 2],
 ['tt0019074', 1],
 ['tt0054710', 1],
 ['tt0492481', 2],
 ['tt0058586', 2],
 ['tt0025720', 1],
 ['tt0049289', 1],
 ['tt0031045', 1],
 ['tt0818077', 2],
 ['tt1074201', 11],
 ['tt0067741', 5],
 ['tt0009105', nan],
 ['tt0174273', 5],
 ['tt1407061', 1],
 ['tt0118824', 2],
 ['tt0042477', 7],
 ['tt0115750', 4],
 ['tt0044420', 2],
 ['tt0839742', 4],
 ['tt0254179', 3],
 ['tt0231686', 20],
 ['tt0163983', 1],
 ['tt1046958', 9],
 ['tt0155809', 2],
 ['tt0242309', 2],
 ['tt0015312', 1],
 ['tt0040773', 1],
 ['tt0383460', nan],
 ['tt0010103', 1],
 ['tt0252221', nan],
 ['tt0051112', 2],
 ['tt0093119', 2],
 ['tt0014007', 1],
 ['tt0495411', 2],
 ['tt0107889', 2],
 ['tt0321376', 2],
 ['tt0045248', 2],
 ['tt0023016', 1],
 ['tt0062979', 2],
 ['tt0080379', 2],
 ['tt0028516', 3],
 ['tt0121442', 2],
 ['tt0053758', 2],
 ['tt0028216', 2],
 ['tt0047855', 2],
 ['tt1234586', 1],
 ['tt0053559', 4],
 ['tt0125994', nan],
 ['tt0430895', 1],
 ['tt0181658', 10],
 ['tt1583737', 2],
 ['tt0175550', 2],
 ['tt0163559', 1],
 ['tt0024547', 2],
 ['tt0039790', 2],
 ['tt0374180', 2],
 ['tt1177159', 15],
 ['tt0077952', 2],
 ['tt0026359', 3],
 ['tt0291891', 5],
 ['tt1164089', 7],
 ['tt1018723', 2],
 ['tt0109739', 2],
 ['tt0186344', 1],
 ['tt0013759', 1],
 ['tt0093166', 5],
 ['tt0018859', 2],
 ['tt0068774', 1],
 ['tt0790804', 5],
 ['tt2172955', nan],
 ['tt0896909', 3],
 ['tt0183879', 3],
 ['tt0154413', 2],
 ['tt0078907', 1],
 ['tt6823322', 2],
 ['tt0003944', 2],
 ['tt0185616', 'no-cast'],
 ['tt0114872', 3],
 ['tt0369446', 16],
 ['tt0368619', 2],
 ['tt0491232', 3],
 ['tt0907618', 2],
 ['tt0024915', 1],
 ['tt0187317', 4],
 ['tt0117201', 1],
 ['tt0088134', 2],
 ['tt0021920', 5],
 ['tt0001808', 2],
 ['tt0360051', 7],
 ['tt0368658', 3],
 ['tt1613110', 10],
 ['tt0113463', 2],
 ['tt1441912', 3],
 ['tt0081453', nan],
 ['tt0402178', 'no-cast'],
 ['tt1343362', 4],
 ['tt1007029', 1],
 ['tt0426516', 2],
 ['tt0082237', 1],
 ['tt1820446', 4],
 ['tt0113596', 2],
 ['tt0053354', 2],
 ['tt0435705', 2],
 ['tt0191185', 1],
 ['tt1773109', 1],
 ['tt0007149', 2],
 ['tt0246934', 1],
 ['tt0030341', 1],
 ['tt0006027', 1],
 ['tt1685531', 1],
 ['tt2069100', 1],
 ['tt0023847', 1],
 ['tt0249371', 14],
 ['tt0109913', 2],
 ['tt0445946', 3],
 ['tt0053987', 3],
 ['tt0093443', 2],
 ['tt0022758', 2],
 ['tt0486531', 1],
 ['tt0293088', 1],
 ['tt0173645', 1],
 ['tt0236010', 5],
 ['tt0160611', 2],
 ['tt0008004', 1],
 ['tt0032445', 1],
 ['tt0492835', 2],
 ['tt0101294', 1],
 ['tt0271383', 4],
 ['tt0254982', 5],
 ['tt0033260', 1],
 ['tt0021182', nan],
 ['tt0800320', 5],
 ['tt0089794', 4],
 ['tt0058262', 2],
 ['tt0121334', 4],
 ['tt0119173', 1],
 ['tt1068228', 5],
 ['tt0088222', 6],
 ['tt0094165', 6],
 ['tt1842347', 2],
 ['tt0787498', 1],
 ['tt0042784', 1],
 ['tt0120834', 4],
 ['tt0025893', 2],
 ['tt0071096', 2],
 ['tt0112828', 3],
 ['tt0062803', 2],
 ['tt0080157', 2],
 ['tt0091341', 5],
 ['tt1640202', 1],
 ['tt2574836', 2],
 ['tt0119644', 2],
 ['tt1746585', nan],
 ['tt0061537', 9],
 ['tt0417202', 2],
 ['tt0045077', 1],
 ['tt0050817', 2],
 ['tt0059252', 4],
 ['tt0286557', 2],
 ['tt1077071', 1],
 ['tt0169786', 3],
 ['tt0085671', 2],
 ['tt0335121', 2],
 ['tt1423953', 1],
 ['tt0089950', 1],
 ['tt0369258', 3],
 ['tt0066950', 2],
 ['tt0096294', 1],
 ['tt0045838', 2],
 ['tt0099155', 2],
 ['tt0065718', 2],
 ['tt0051184', 2],
 ['tt1646926', 2],
 ['tt0031684', 2],
 ['tt0373800', 2],
 ['tt0064916', 7],
 ['tt1291643', 9],
 ['tt0078204', 1],
 ['tt2076844', 1],
 ['tt0083168', 3],
 ['tt0049152', 4],
 ['tt0004844', 4],
 ['tt0252747', nan],
 ['tt0092559', 1],
 ['tt0087616', 1],
 ['tt0210714', 4],
 ['tt0078430', 1],
 ['tt0304628', 2],
 ['tt0052136', 1],
 ['tt1588334', 3],
 ['tt0046673', 6],
 ['tt1695800', 10],
 ['tt0057504', 2],
 ['tt0113063', 3],
 ['tt0248673', 3],
 ['tt0036135', 1],
 ['tt0056042', 2],
 ['tt2109200', 14],
 ['tt0023802', 1],
 ['tt0104609', 12],
 ['tt0423023', 4],
 ['tt0799954', 3],
 ['tt1346961', 3],
 ['tt0100557', 1],
 ['tt0370919', 9],
 ['tt0022246', 2],
 ['tt0035335', 2],
 ['tt2042447', 2],
 ['tt0076445', 1],
 ['tt1315981', 2],
 ['tt1207998', 'no-cast'],
 ['tt0044637', 2],
 ['tt5183890', 'no-cast'],
 ['tt0065912', 2],
 ['tt0425656', 3],
 ['tt1086875', 1],
 ['nm2120205', 'no-cast'],
 ['tt0255820', 1],
 ['tt5287292', 3],
 ['tt0032811', 1],
 ['tt0005163', 2],
 ['tt0004269', 3],
 ['tt0418698', 1],
 ['tt0020731', 2],
 ['tt0033389', 4],
 ['tt0366787', 1],
 ['tt2014305', 3],
 ['tt0498353', 1],
 ['tt0030457', 3],
 ['tt0090601', 3],
 ['tt0052005', 32],
 ['tt0116557', 15],
 ['tt0052069', 3],
 ['tt0339976', 4],
 ['tt2187102', nan],
 ['tt0187279', 3],
 ['tt0084171', 2],
 ['tt0258488', nan],
 ['tt0026922', 2],
 ['tt0245682', 2],
 ['tt0069052', 2],
 ['tt0054119', 2],
 ['tt8938974', 11],
 ['tt0067592', 1],
 ['tt0389337', 21],
 ['tt0011025', 7],
 ['tt0038126', 2],
 ['tt0046572', 3],
 ['tt0404330', 'no-cast'],
 ['tt0289154', 1],
 ['tt0032125', nan],
 ['tt0107331', 1],
 ['tt0455913', 4],
 ['tt0447544', 'no-cast'],
 ['tt0072651', 4],
 ['tt0039486', 2],
 ['tt0258850', 2],
 ['tt0196645', 1],
 ['tt0050483', 2],
 ['tt0430918', 2],
 ['tt1869716', 1],
 ['tt0072148', 1],
 ['tt0016353', 1],
 ['tt0342535', 6],
 ['tt0030756', 2],
 ['tt0099080', 4],
 ['tt1619037', 2],
 ['tt0814022', 41],
 ['tt0100223', 1],
 ['tt0064155', 2],
 ['tt0342543', 1],
 ['tt1106782', 2],
 ['tt0194798', 8],
 ['tt0111295', nan],
 ['tt0200720', 1],
 ['tt0061515', 2],
 ['tt0036661', 1],
 ['tt1077089', 3],
 ['tt0009018', 7],
 ['tt0106460', 3],
 ['tt0132486', 'no-cast'],
 ['tt0202985', 1],
 ['tt0084263', 1],
 ['tt0041245', 4],
 ['tt1137470', 1],
 ['tt0092206', 5],
 ['tt0495729', 3],
 ['tt0372549', nan],
 ['tt0074798', 2],
 ['tt0082869', 3],
 ['tt0025085', 1],
 ['tt1610452', 2],
 ['tt0178359', nan],
 ['tt0364800', 5],
 ['tt0042332', 1],
 ['tt4338920', nan],
 ['tt0056353', 5],
 ['tt1263797', 2],
 ['tt0119851', 7],
 ['tt1294226', 6],
 ['tt0084868', nan],
 ['tt0158580', 1],
 ['tt0005315', 2],
 ['tt0872190', 5],
 ['tt0257924', 2],
 ['tt0298390', 3],
 ['tt0414998', 1],
 ['tt0271884', 1],
 ['tt0187514', 1],
 ['tt0072667', 10],
 ['tt0057568', 2],
 ['tt3615254', 'no-cast'],
 ['tt0058385', 1],
 ['tt0119324', 3],
 ['nm0001515', 'no-cast'],
 ['tt0038023', 1],
 ['tt0167331', 3],
 ['tt0011196', 1],
 ['tt0044659', 1],
 ['tt0101263', nan],
 ['tt0050450', 2],
 ['tt0225607', 3],
 ['tt0031253', 8],
 ['tt0959281', 2],
 ['tt0434292', 1],
 ['tt0226875', 1],
 ['tt0154532', 7],
 ['tt0070377', 1],
 ['tt0226990', 1],
 ['tt1834319', 4],
 ['tt0062820', 4],
 ['tt0032285', 2],
 ['tt0036506', 1],
 ['tt0329737', 6],
 ['tt1302558', 3],
 ['tt0057055', 2],
 ['tt0090103', 2],
 ['tt0066735', 6],
 ['tt0401711', 1],
 ['tt0175312', 2],
 ['tt0435937', 3],
 ['tt0365480', 1],
 ['tt0795406', 3],
 ['tt0042623', 2],
 ['tt0025773', 2],
 ['tt0287043', 'no-cast'],
 ['tt0079679', 2],
 ['tt0096028', 9],
 ['tt0643102', 1],
 ['tt0045079', 1],
 ['tt0071216', 1],
 ['tt0240670', 2],
 ['tt1945136', nan],
 ['tt0000033', 'no-cast'],
 ['tt0071523', 2],
 ['tt0037958', nan],
 ['tt0315340', 2],
 ['tt1852904', 4],
 ['tt0157673', 1],
 ['tt0290940', 15],
 ['tt0416979', 2],
 ['tt0246959', 9],
 ['tt0082352', 1],
 ['tt0063994', 3],
 ['tt0154422', 1],
 ['tt0015268', 2],
 ['tt0310007', nan],
 ['tt0027231', 1],
 ['tt0814014', 4],
 ['tt0032653', 2],
 ['tt0388534', 1],
 ['tt0314009', 2],
 ['tt0042512', 1],
 ['tt0017918', 2],
 ['tt0107148', 1],
 ['tt0783532', 4],
 ['tt0021164', 1],
 ['tt0134328', 1],
 ['tt0057061', nan],
 ['tt0053675', 1],
 ['tt0074473', 1],
 ['tt0230141', 2],
 ['tt0493658', 1],
 ['tt0004956', 1],
 ['tt0046064', 4],
 ['tt0034862', 3],
 ['tt0110916', 4],
 ['tt0100173', 1],
 ['tt0081686', 1],
 ['tt0068702', 2],
 ['tt0493396', 10],
 ['tt0121989', 2],
 ['tt0044976', 2],
 ['tt0039041', 1],
 ['tt0053648', 1],
 ['tt0368934', 1],
 ['tt4516596', 2],
 ['tt1276104', 3],
 ['tt0004518', 3],
 ['tt0040262', 1],
 ['tt0079936', 6],
 ['tt0058352', 7],
 ['tt0073259', 1],
 ['tt0096140', 13],
 ['tt0137856', 1],
 ['tt0011899', 1],
 ['tt0079581', 1],
 ['tt0301799', 2],
 ['tt1056437', 4],
 ['tt0052676', 3],
 ['tt0054745', 2],
 ['tt0106694', 'no-cast'],
 ['tt0285610', nan],
 ['tt0006064', 1],
 ['tt0023640', 2],
 ['tt0084672', 2],
 ['tt0031174', 2],
 ['tt0082177', 2],
 ['tt0022008', nan],
 ['tt0102328', 2],
 ['tt1773039', 1],
 ['tt0028370', 1],
 ['tt0325123', 3],
 ['tt0026230', 3],
 ['tt0099625', 4],
 ['tt0101531', 6],
 ['tt0086379', 5],
 ['tt0178312', 1],
 ['tt0303985', 2],
 ['tt0091538', 2],
 ['tt0033288', 1],
 ['tt0237094', 19],
 ['tt0243992', 1],
 ['tt0473024', 3],
 ['tt0291781', 4],
 ['tt0023613', nan],
 ['tt0820971', 8],
 ['tt0314429', nan],
 ['tt0030284', 1],
 ['tt0095810', 2],
 ['tt0178288', 4],
 ['tt0041154', 2],
 ['tt0038588', 1],
 ['tt0051849', 2],
 ['tt0045922', 2],
 ['tt0034281', 2],
 ['tt0126916', 2],
 ['tt0114858', 11],
 ['tt0045754', 2],
 ['tt0057578', 2],
 ['tt0099188', 2],
 ['tt0381341', 1],
 ['tt2266938', 7],
 ['tt0042355', 1],
 ['tt0177576', 2],
 ['tt0043369', 6],
 ['tt0232613', 1],
 ['tt0053143', 3],
 ['tt0042432', 2],
 ['tt0090106', 1],
 ['tt0032581', 1],
 ['tt0060277', 2],
 ['tt0220506', 1],
 ['tt0035814', 3],
 ['tt0178310', 3],
 ['tt0194727', 2],
 ['tt0906013', 1],
 ['tt1534564', 1],
 ['tt2008493', 4],
 ['tt0051181', 2],
 ['tt0020197', 8],
 ['tt0042513', 1],
 ['tt0135180', nan],
 ['tt0035211', 2],
 ['tt0188435', 1],
 ['tt0060869', nan],
 ['tt0315356', 7],
 ['tt0051393', 3],
 ['tt0023225', 4],
 ['tt0054421', 3],
 ['tt0023937', 2],
 ['tt0157039', 3],
 ['tt0818899', 3],
 ['tt0087805', 2],
 ['tt0085253', 1],
 ['tt0022660', 5],
 ['tt0064145', 1],
 ['tt1787988', 2],
 ['tt0075711', 'no-cast'],
 ['nm0622334', 'no-cast'],
 ['tt0194795', 2],
 ['tt0013768', 1],
 ['tt0027536', 4],
 ['tt0024123', 2],
 ['tt0081609', 1],
 ['tt0025546', 2],
 ['tt0406706', 9],
 ['tt0081404', 17],
 ['tt0282810', 2],
 ['tt0104706', nan],
 ['tt0115788', 3],
 ['tt1341726', 4],
 ['tt0050965', 1],
 ['tt0055139', 2],
 ['tt0286004', 3],
 ['tt0053717', 2],
 ['tt0463963', 4],
 ['tt0060662', 2],
 ['tt0405980', 4],
 ['tt0049849', 2],
 ['tt0460829', 1],
 ['tt0331952', 2],
 ['tt0078386', 3],
 ['tt0020493', 1],
 ['tt0079570', 1],
 ['tt0259423', 3],
 ['tt0063115', 3],
 ['tt0081062', 5],
 ['tt0182701', 5],
 ['tt0064154', 1],
 ['tt0050738', 1],
 ['tt0087590', 19],
 ['tt0005344', 2],
 ['tt0459438', 3],
 ['tt0004545', 1],
 ['tt0024236', 1],
 ['tt0252214', nan],
 ['tt0077117', 2],
 ['tt0089539', 2],
 ['tt0006731', 1],
 ['tt0024310', 1],
 ['tt0299605', 3],
 ['tt0345623', 10],
 ['tt8437350', nan],
 ['tt0044141', 2],
 ['tt0386651', 3],
 ['tt0035360', 4],
 ['tt0002442', 1],
 ['tt0101420', 2],
 ['tt0106931', 2],
 ['tt0371552', 3],
 ['tt0037323', 1],
 ['tt0037099', 1],
 ['tt0181699', 2],
 ['tt0294289', 2],
 ['tt0000074', 'no-cast'],
 ['tt1857816', 'no-cast'],
 ['tt8224650', 3],
 ['tt1218345', 5],
 ['tt0038394', 5],
 ['tt0266452', 3],
 ['tt0160344', 4],
 ['tt0995827', 2],
 ['tt0928188', 3],
 ['tt0453501', 10],
 ['tt0245655', 1],
 ['tt0043540', 29],
 ['tt0457701', 2],
 ['tt0133196', 6],
 ['tt0053433', 1],
 ['tt0087903', 4],
 ['tt1756595', 6],
 ['tt0097044', 4],
 ['tt0169904', 3],
 ['tt1382654', 2],
 ['tt0091027', 5],
 ['tt0072895', 5],
 ['tt0197959', 6],
 ['tt0048355', 1],
 ['tt0140803', 1],
 ['tt0088970', 3],
 ['tt0176269', 3],
 ['tt0269139', 2],
 ['tt0382178', 2],
 ['tt0107296', 3],
 ['tt0024961', 2],
 ['tt0067647', 2],
 ['tt0108558', 2],
 ['tt0083034', 2]]