# Metrics for movies and actors

In [13]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [10]:
movies = pickle.load(open('../data/pickles/movies.p', 'rb'))
characters = pickle.load(open('../data/pickles/characters.p', 'rb'))
characters_movies = pd.merge(characters[['movie_wiki_id', 'actor_name', 'combined_birth', 'combined_gender']], movies[['wikipedia_id', 'title', 'combined_release_year', 'combined_runtime', 'combined_box_office', 'averageRating_imdb', 'numVotes_imdb']], left_on='movie_wiki_id', right_on='wikipedia_id', how='left')

In [ ]:
df = movies[['title', 'averageRating_imdb', 'numVotes_imdb', 'combined_box_office']].copy()
df['numVotes_imdb'] = np.log(df.numVotes_imdb)
df['combined_box_office'] = np.log(df.combined_box_office)
df['numVotes_imdb'] =(df.numVotes_imdb - df.numVotes_imdb.mean()) / df.numVotes_imdb.std()
df['combined_box_office'] =(df.combined_box_office - df.combined_box_office.mean()) / df.combined_box_office.std()
df['averageRating_imdb'] =(df.averageRating_imdb - df.averageRating_imdb.mean()) / df.averageRating_imdb.std()

In [ ]:
df['metric'] = df.numVotes_imdb * np.abs(df.averageRating_imdb)

In [ ]:
df.sort_values('metric', ascending=False).head(20)

In [ ]:
movies = pd.merge(movies, df[['metric']], left_index=True, right_index=True)

In [12]:
movies[['title', 'metric']].sort_values('metric', ascending=False).head(20)

                                                   title    metric
26366                           The Shawshank Redemption  9.897882
36402                                      The Godfather  9.158800
38158                                    The Dark Knight  8.914723
36295                     Justin Bieber: Never Say Never  8.731866
80920      The Lord of the Rings: The Return of the King  8.532330
7899                                      Disaster Movie  8.474059
66299                                       Pulp Fiction  8.329917
25386                                   Schindler's List  8.208227
60260                                          Inception  8.149376
11063                              The Godfather Part II  8.139823
36572                                   Band of Brothers  8.113356
41090                                       Why We Fight  8.113356
32810                                         Fight Club  8.047722
65287                                       Forrest Gump  8.027604
79973  The Lord of the Rings: The Fellowship of the Ring  7.927186
8821               The Lord of the Rings: The Two Towers  7.812993
9047                                          Epic Movie  7.712191
58014                                         The Matrix  7.638405
33678                                       12 Angry Men  7.637629
77834                           Manos: The Hands of Fate  7.416386

In [ ]:
characters = pd.merge(characters, movies[['wikipedia_id', 'metric']], left_on='movie_wiki_id', right_on='wikipedia_id', how='left').rename(columns={'metric':'movie_metric'})

In [ ]:
def get_actor_metrics(metrics):
    metrics.dropna(inplace=True)

    if (metrics is None):
        return np.nan
    else:
        metrics = metrics.tolist()
        index_metrics = (list(np.argsort(metrics)))
        return np.sum([metrics[i] * 1/(len(metrics) - i) for i in index_metrics])

def get_actor_metrics_dcg(metrics):
    metrics.dropna(inplace=True)

    if (metrics is None):
        return np.nan
    else:
        # sort the metrics in descending order
        metrics = sorted(metrics, reverse=True)
        # compute the DCG score
        if len(metrics) > 0:
            dcg = metrics[0] + sum([(metrics[i] / np.log2(i+2)) for i in range(1, len(metrics))])
            return dcg
        else:
            return np.nan
# aggregate the movie metric by actor
actors_metrics = characters[['freebase_actor_id', 'movie_wiki_id', 'movie_metric']].drop_duplicates()[['freebase_actor_id', 'movie_metric']].groupby('freebase_actor_id').agg(get_actor_metrics_dcg).rename(columns={'movie_metric':'actor_metric'})

In [ ]:
characters = pd.merge(characters, actors_metrics, left_on='freebase_actor_id', right_index=True, how='left')

In [11]:
temp_characters = characters.copy()
temp_characters['age'] = temp_characters.combined_birth.apply(lambda x: 2022 - x)
temp_characters.sort_values('actor_metric', ascending=False)[['actor_name', 'combined_gender',  'age', 'actor_metric']].drop_duplicates().head(50).reset_index()

     index            actor_name combined_gender    age  actor_metric
0   302108     Samuel L. Jackson            male   74.0     47.284516
1    91262        Robert De Niro            male   79.0     45.917416
2    90041         Michael Caine            male   89.0     42.677866
3   282784        Morgan Freeman            male   85.0     42.382440
4   330651             Al Pacino            male   82.0     39.385457
5   274370          Bruce Willis            male   67.0     38.878472
6   164138           Gary Oldman            male   64.0     37.168668
7    77359         Robert Duvall            male   91.0     36.768965
8   180117             Tom Hanks            male   66.0     36.712741
9   382743             Brad Pitt            male   59.0     36.554337
10  352661         Harrison Ford            male   80.0     35.634407
11  449284       Christopher Lee            male  100.0     35.306967
12  170247         Steve Buscemi            male   65.0     35.233609
13  123932     John Ratzenberger            male   75.0     34.351557
14  376557      James Earl Jones            male   91.0     34.270314
15  187331     Leonardo DiCaprio            male   48.0     33.277298
16  349670            Matt Damon            male   52.0     32.469635
17  197596        Christian Bale            male   48.0     32.327060
18  280100      John Rhys-Davies            male   78.0     32.320015
19  307231             John Hurt            male   82.0     31.625422
20  248288    Christopher Walken            male   79.0     31.602331
21  369573           Johnny Depp            male   59.0     31.422678
22  195071     Christopher Lloyd            male   84.0     31.414162
23  428657           Keith David            male   66.0     31.169862
24  208380           Elijah Wood            male   41.0     30.751717
25  281291           Liam Neeson            male   70.0     30.671893
26   77676          Ben Kingsley            male   79.0     30.571613
27   25264    Harry Dean Stanton            male   96.0     30.551247
28  364886              Ian Holm            male   91.0     30.459693
29   50148         Ralph Fiennes            male   60.0     30.067712
30  290887          Willem Dafoe            male   67.0     30.042044
31  266794      Alfred Hitchcock            male  123.0     29.598339
32  359564           Uma Thurman          female   52.0     29.575236
33  430108        Clint Eastwood            male   92.0     29.554982
34  340060         Harvey Keitel            male   83.0     29.475864
35  213631          Frank Welker            male   76.0     29.457114
36  202482        Cate Blanchett          female   53.0     29.330635
37  180278         Max von Sydow            male   93.0     29.315425
38  248365          Hugo Weaving            male   62.0     29.236856
39  145510          John Goodman            male   70.0     29.219627
40  189786         Dennis Hopper            male   86.0     29.063911
41  258196           Brad Dourif            male   72.0     29.050239
42   74596          R. Lee Ermey            male   78.0     28.970771
43  236762         James Stewart            male  114.0     28.587418
44   37159        Carmen Electra          female   50.0     28.563907
45  202979          Kevin Spacey            male   63.0     28.352658
46  268219        Jack Nicholson            male   85.0     28.206901
47  128603      Sigourney Weaver          female   73.0     28.138369
48  332455   Christopher Plummer            male   93.0     27.790943
49  337555  Helena Bonham Carter          female   56.0     27.614659

In [ ]:
tempdf

In [ ]:

# import the vincent library
import vincent
  
# To initialize vincent in the notebook
vincent.core.initialize_notebook()

# pass the parameters to the bar method
bar = vincent.Bar(tempdf.loc[0])
bar.axis_titles(x='Features', y='Percentage of filled entries')
bar.to_json('../temp/movie_percentage.json')
  
# Display the bar chart
bar.display()

In [ ]:
import plotly

plotly.offline.init_notebook_mode(connected=True)

import plotly.graph_objs as go

data = [go.Bar(
            x=tempdf.columns,
            y=tempdf.loc[0]
    )]
plotly.offline.iplot(data, filename='basic-bar')

# export to html
plotly.offline.plot(data, filename='../temp/movie_percentage.html')